<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>physical-therapy</string>
		<string>workout-processing</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>Your training related data will be recorded to Health Kit database</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Your training related data will be displayed in app training summary screen</string>
</dict>
</plist>
